<header>
  <nav class="navbar">
    <h1><a href="index.html" class="logo">Conexão ND</a></h1>
    <div class="nav-links">
      <a href="perfil">Perfil</a>
      <a href="cadastro">Cadastrar</a>
    </div>
  </nav>
</header>

<!-- Botão fora do header para que o usuário possa visualizá-lo caso queira desativá-lo-->
<div class="foco-wrapper">
  <button id="btn-foco" class="btn-focus" onclick="toggleFocusMode()">Ativar Modo Foco</button>
</div>


<section class="hero">
  <div class="hero-content">
    <h2>Uma rede social feita para neurodivergentes</h2>
    <p>Conecte-se com pessoas autistas, com TDAH e outras neurodivergências em um ambiente acolhedor e sem
      julgamentos.</p>
    <a href="/src/app/cadastro/cadastro.component.html" class="btn-primary">Crie sua conta</a>
  </div>
</section>

<footer>
  <p>&copy; 2025 Conexão ND. Todos os direitos reservados.</p>
</footer>