<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form>
    <h2>Entrar</h2>
    <label>Email</label>
    <input type="email" placeholder="seu@email.com" />

    <label>Senha</label>
    <input type="password" placeholder="Digite sua senha" />

    <button type="submit" class="btn-primary">Entrar</button>

    <p>Ainda não tem conta? <a routerLink="/cadastro">Criar conta</a></p>
  </form>
</body>
</html>
